/**
 * Created by Эдгар on 09.07.2015.
 */
#menuBox ul:nth-child(1){
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horMenu li{
    display: inline-block;
}

.verMenu li{
    display: block;
}